@import "tailwindcss";
/* @utility container {
  margin: auto;
} */

@theme {
  --breakpoint-sm: 500px;
  --breakpoint-md: 800px;

  /* full custom "extended" */
  --breakpoint-big: 1000px;

  /* will be apply to all top, bottom, left , right */
  --padding-2: 200px;
  --padding-1: 100px;

  /* full custom "extended" */
  --padding-c10: 500px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #18181b;
}
